/* Basic Styling */
body {
    font-family: 'Merriweather', serif;
    background-color: white;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.1;
}
h1,
h2,
legend {
    color: #2e3f48;
    font-weight: 900;
}
label,
input[type="radio"],
input[type="checkbox"],
form p {
    color: #5c6e7f;
    font-size: 1rem;
    font-weight: 300;
}
.signup p,
footer p {
    color: #adb2b7;
    font-size: .9rem;
}
fieldset {
    border: 0;
}
.top-border {
    max-width: 320px;
    width: 90%;
    margin: .2rem auto 1.5rem auto;
    border-top: 3px solid #2e3f48;
}
.bottom-border {
    max-width: 320px;
    width: 90%;
    margin: auto;
    border-bottom: 5px solid #2e3f48;
}
input {
    border: 0;
    background: #eff0f1;
}
input::placeholder {
    font-size: .7rem;
    text-align: right;
}
button {
    background-color: #4cbbb4;
    color: white;
}

/* Header */
header {
    width: 100%;
    background: #2e3f48;
    padding: 1.8rem 0;
    text-transform: uppercase;
}
header h1 {
    margin: 0;
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

/* Signup */
.signup {
    max-width: 320px;
    margin: auto;
    padding: 1rem 0 1.5rem 0;
    text-align: center;
}

.signup h2 {
    font-size: 1.2rem;
}

/* Contact Form*/
form {
    max-width: 320px;
    margin: 0 auto;
}
.contact-information {
    margin: 0;
}
label {
    display: block;
}

/* Newsletter */
.newsletter {
    margin: 0;
}
textarea {
    min-width: 100%;
    min-height: 8rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    
}